@model Dominio.ViewModelProducto

@{
    ViewBag.Title = "CrearProducto";
}

<h4>CrearProducto</h4>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.producto.CategoriaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
               
                @Html.DropDownList("CategoriaId",null, new { @class = "form-control" })
              
                @Html.ValidationMessageFor(model => model.producto.CategoriaId, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-5">
                @Html.ActionLink("Ver todas", "../Categoria/VerCategorias", null, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Crear nuevas", "../Categoria/AgregarCategoria", null, new { @class = "btn btn-primary btn-xs" })
                @*<button class="btn btn-primary btn-xs" >Ver todas</button>
                <button class="btn btn-primary btn-xs">Crear nueva</button>*@
                </div>
            </div>

        <div class="form-group">
            @Html.LabelFor(model => model.producto.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.producto.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.producto.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/pantallas/CrearProducto.js"></script>
<script src="~/Scripts/pantallas/comunes.js"></script>
}
